<div class="small-padding" id="search">

  <div style="height: 100px">
    <h5 class="no-margin-bottom no-wrap to-long no-margin-top">Search for the songs</h5>

    <div class="input-field small-padding-bottom no-margin-bottom">
      <input placeholder="artist:** track:** album: ** year:**" id="song-name" type="text"
             (keyup)="search($event)">
    </div>
  </div>

  <div class="search-preview">
    <!--    The song search-->
    <div *ngFor="let song of songList; let i = index;">
      <div class="flex-v-center">
        <div class="col s2 xl1 center flex-v-center no-padding">
          <img src="{{song.cover}}" alt="cover">
        </div>
        <div class="col s8 xl10 to-long">
          <div class="s12 to-long">
            <a class="pointer underline no-wrap"
               href="{{song.title.url}}"
               target="_blank">{{song.title.name}}</a></div>
          <div class="s12 to-long flex">
            <a class="pointer underline no-wrap to-long no-shrink"
               href="{{song.artist.url}}"
               target="_blank">{{song.artist.name}}</a></div>
        </div>
        <div class="col s2 xl1 flex-v-center flex-center no-padding">
          <i class="material-icons pointer" (click)="addSongToQueue(song.id)">playlist_add</i>
        </div>
      </div>

      <div *ngIf="songList.length !== (i + 1)" class="divider small-margin-bottom small-margin-top"></div>
    </div>
  </div>
</div>
