{% extends "base.html" %}

{% block javascript_variables %}
    <script type="text/javascript">
        let removePlaylistAPI = "{{ url_for("api.remove_playlist") }}?playlist-id=";
        let addPlaylistAPI = "{{ url_for("api.add_playlist") }}?playlist-id=";
        let playlistAPI = "{{ url_for("api.get_playlist") }}?playlist-id=";
        let playlistDurationAPI = "{{ url_for("api.update_playlist_duration")}}?playlist-id=";
        let autocomplete = {
            {%   for key, value in autocomplete_playlist_list.items() %}
                "{{ key }}": "{{ value }}",
            {% endfor %}
        };
    </script>
{% endblock %}

{% block main %}

    <div class="center">
        <h3>{{ user_name }}'s Playlists</h3>
    </div>

    <div class="table-wrapper">
        <table class="striped highlight own-responsive-table">
            <thead>
            <tr>
                <th data-sort-default>Name</th>
                <th>Author</th>
                <th data-sort-method='number'>Track count</th>
                <th class="song-length" data-sort-method='none'>Max. song length</th>
                <th style="width: 1px" data-sort-method='none'></th>
            </tr>
            </thead>
            <tbody id="insert">

            {# Check if spotify user has a playlist #}
            {% if playlist_list_json != {} %}

                {# For every playlist the spotify user has #}
                {% for playlist_id, playlist in playlist_list_json.items() %}
                    <tr class="playlist">
                        <td>
                            <a class="black-text pointer underline" hover-on-touch
                               onclick="window.open('{{ playlist.url }}')"> {{ playlist["name"] }}</a>
                        </td>
                        <td>
                            <a class="black-text pointer underline" hover-on-touch
                               onclick="window.open('{{ playlist.author.url }}')">{{ playlist.author.name }}</a>
                        </td>
                        <td>{{ playlist.track_count }}</td>
                        <td class="song-length no-padding">
                            <input onkeydown="onlyNumbers()" class="no-margin" type="number"
                                   id="{{ playlist_id }}-input" autocomplete="off"
                                   default-duration="{{ playlist.max_song_duration }}"
                                   value="{{ playlist.max_song_duration }}">
                        </td>
                        <td>
                            <i tabindex="0" class="material-icons pointer primary-text-color" id="{{ playlist_id }}">delete</i>
                        </td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr id="no-playlists-placeholder">
                    <td></td>
                    <td></td>
                    <td class="center-align">No Playlists</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}

            </tbody>
        </table>
    </div>
    <div class="left-align">
        <h4>Add Playlists</h4>
    </div>

    <div class="row flex-v-center">
        <div class="input-field col s5">
            <input id="playlist-id" class="autocomplete" type="text">
            <label for="playlist-id">Playlist ID</label>
        </div>
        <div class="input-field col s5">
            <input id="songlength-id" type="number" value="0" autocomplete="off" onkeydown="onlyNumbers(event)">
            <label for="songlength-id">Song Length in sec</label>
        </div>
        <button class="btn-flat col s2 primary-bg-color white-text" id="add-button">Add</button>
    </div>

{% endblock %}



{% block javascript %}
    <script type="text/javascript" src="/static/js/own/spotify_user_playlists/add.js"></script>
    <script type="text/javascript" src="/static/js/own/spotify_user_playlists/remove.js"></script>
    <script type="text/javascript" src="/static/js/own/spotify_user_playlists/main.js"></script>
    <script type="text/javascript" src="/static/js/own/spotify_user_playlists/edit.js"></script>
{% endblock %}
