venv/
.vscode/
*.pyc
*.db

src/wsgi.py
src/backup/
src/settings_production.json
src/server/keys/key_template_production.py
src/server/settings/settings_production.json
docker/flask/src/
stale_outputs_checked
src/environment_own.sh
docker/.env
