{% extends "base.html" %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="../static/css/own/loading.css"
          media="screen,projection"/>
{% endblock %}

{% block main %}

    <div id="main-box">
        <div class="container margin-top z-depth-3 rounded" id="playlist-box">

            <div class="center small-padding-top">
                <h1 id="playlist-name" style="display: none"></h1>
                <div class="loading-card small-padding-top small-padding-bottom small-margin-bottom"
                     style="border: none; margin: 2.8rem 0 1.68rem 0;" id="loading-heading">
                    <div class="loading-bar big-loading-bar loading first-loading-bar margin-auto"></div>
                </div>
            </div>

            <!-- Playlist information -->
            <div class="row flex-v-center">
                <div class="col s9">
                    <table style="display: none" id="playlist-description">
                        <tbody>
                        <tr>
                            <td>Author</td>
                            <td><a class="pointer underline black-text" id="author">HuiiBuh</a></td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td id="duration">22h</td>
                        </tr>
                        <tr>
                            <td>Song Count</td>
                            <td id="song-count">500</td>
                        </tr>
                        <tr style="border-bottom:none!important;">
                            <td>URL</td>
                            <td><a class="pointer underline black-text" id="playlist-url">Go to Spotify</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="loading-card" id="loading-playlist-description" style="overflow: hidden">
                        <div class="loading-bar loading-bar-2 loading first-loading-bar"></div>
                        <div class="loading-bar loading-bar-1 loading "></div>
                        <div class="loading-bar loading-bar-3 loading "></div>
                        <div class="loading-bar loading-bar-1 loading "></div>
                        <div class="loading-bar loading-bar-1 loading "></div>
                        <div class="loading-bar loading-bar-1 loading "></div>
                        <div class="loading-bar loading-bar-2 loading "></div>
                        <div class="loading-bar loading-bar-1 loading "></div>
                        <div class="loading-bar loading-bar-1 loading "></div>
                        <div class="loading-bar loading-bar-2 loading "></div>
                        <div class="loading-bar loading-bar-2 loading "></div>
                        <div class="loading-bar loading-bar-3 loading "></div>
                        <div class="loading-bar loading-bar-2 loading "></div>
                    </div>

                </div>
                <div class="col s3 center no-padding">
                    <div class="loading-card rectangle">
                        <div class="image loading" id="playlist-cover"></div>
                    </div>
                </div>
            </div>
            <ul>
                <li class="divider"></li>
            </ul>
            <!-- Song heading -->
            <div class="row">
                <h4 class="col s12 no-margin-bottom">Songs</h4>
            </div>

            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="text" class="validate">
                            <label for="email">Search</label>
                            <span class="helper-text" data-error="wrong" data-success="right">Search for songs in the playlist</span>
                        </div>
                    </div>
                </form>
            </div>


            <div class="loading-card" id="song-placeholder">
                <div class="contend-loader">
                    <div class="loading-bar loading-bar-2 loading first-loading-bar"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-3 loading"></div>
                    <div class="loading-bar loading-bar-2 loading"></div>
                    <div class="loading-bar loading-bar-1 loading"></div>
                    <div class="loading-bar loading-bar-1 loading last-loading-bar"></div>
                </div>
            </div>

            <!-- All songs -->
            <div id="playlist-songs" style="display: none"></div>
        </div>
    </div>


    <!-- Action button -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large modal-trigger" href="#song-modal">
            <i class="very-large material-icons pointer">add</i>
        </a>
    </div>


    <div id="song-modal" class="modal">
        <div class="modal-content">
            <h4>Search for Songs</h4>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix" id="search-song-icon">search</i>
                    <input id="song-search" type="text" class="validate">
                    <label for="song-search">Song search</label>

                    <ul class="show-autocomplete dropdown-content" tabindex="0">

                        <li class="search-song">
                            <div class="flex-v-center small-padding-bottom small-padding-top">
                                <div class="col xs3 s2 l1 flex-v-center">
                                    <img alt="cover" class="search-song-image no-padding"
                                         src="https://cdn.shopify.com/s/files/1/1040/6126/products/eminem-revival-uni-universal-music.jpg">
                                </div>
                                <div class="col xs8 s9 m9 l10">
                                    <div class="col s12">Title</div>
                                    <div class="col s12">Interpret &middot; Album</div>
                                </div>
                                <div class="col xs1 s2 m2 l1 flex-end  flex-v-center">
                                    <i class="material-icons pointer">playlist_add</i>
                                </div>
                            </div>
                        </li>

                        <li class="search-song">
                            <div class="flex-v-center small-padding-bottom small-padding-top">
                                <div class="col xs3 s2 l1 flex-v-center">
                                    <img alt="cover" class="search-song-image no-padding"
                                         src="https://cdn.shopify.com/s/files/1/1040/6126/products/eminem-revival-uni-universal-music.jpg">
                                </div>
                                <div class="col xs8 s9 m9 l10">
                                    <div class="col s12">Title</div>
                                    <div class="col s12">Interpret &middot; Album</div>
                                </div>
                                <div class="col xs1 s2 m2 l1 flex-end  flex-v-center">
                                    <i class="material-icons pointer">playlist_add</i>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <h5>Your songs</h5>

            <div id="add-song-list">
                <div class="row flex-v-center song rounded add-song-list "
                     onclick="window.open('https://open.spotify.com/track/6ZFbXIJkuI1dVNWvzJzown')">
                    <div class="col xs3 s2 l1 flex-v-center">
                        <img alt="cover" class="song-image no-padding"
                             src="https://cdn.shopify.com/s/files/1/1040/6126/products/eminem-revival-uni-universal-music.jpg">
                    </div>
                    <div class="col xs8 s9 l9">
                        <div class="col s12">Title</div>
                        <div class="col s12">Interpret &middot; Album</div>
                    </div>
                    <div class="col xs1 s2 flex-v-center flex-end">
                        <i class="material-icons pointer">delete</i>
                    </div>
                </div>


                <div class="row flex-v-center song rounded add-song-list "
                     onclick="window.open('https://open.spotify.com/track/6ZFbXIJkuI1dVNWvzJzown')">
                    <div class="col xs3 s2 l1 flex-v-center">
                        <img alt="cover" class="song-image no-padding"
                             src="https://cdn.shopify.com/s/files/1/1040/6126/products/eminem-revival-uni-universal-music.jpg">
                    </div>
                    <div class="col xs8 s9 l9">
                        <div class="col s12">Title</div>
                        <div class="col s12">Interpret &middot; Album</div>
                    </div>
                    <div class="col xs1 s2 flex-v-center flex-end">
                        <i class="material-icons pointer">delete</i>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer" id="add-song-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Add Songs</a>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script src="../static/js/own/main.js"></script>
    <script src="../static/js/own/Playlist.js"></script>
    <script src="../static/js/own/Song.js"></script>
    <script src="../static/js/own/functions.js"></script>
{% endblock %}