{% extends "base.html" %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="/static/css/own/playback.css" media="screen,projection"/>
{% endblock %}

{% block javascript_variables %}
    <script type="text/javascript">

        let searchAPI = "{{ url_for("api.search") }}?spotify-user-id={{ spotify_user_id }}&q=";
        let devicesAPI = "{{url_for("api.devices", spotify_user_id=spotify_user_id) }}";
        let playerAPI = "{{ url_for("api.player", spotify_user_id=spotify_user_id) }}";

        let pauseAPI = "{{ url_for("api.pause", spotify_user_id=spotify_user_id) }}";
        let playAPI = "{{ url_for("api.play", spotify_user_id=spotify_user_id) }}";
        let nextAPI = "{{ url_for("api.next", spotify_user_id=spotify_user_id) }}";
        let previousAPI = "{{ url_for("api.previous", spotify_user_id=spotify_user_id) }}";

        let spotifyUserID = "{{ spotify_user_id }}";
    </script>
{% endblock %}

{% block nav %}
{% endblock %}

{% block no_box %}
    {# Background image#}
    <div class="background-blur-image"></div>

    {# Top Row #}
    <div class="row flex no-margin"
         style="background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%); height: 73px">
        {# Left side #}
        <div class="col s9 no-margin flex-v-center min-height-hundred space-between">

            {# Back button #}
            <a class="pointer flex-v-center white-text back" href="/">
                <i class="material-icons">navigate_before</i>
                <span>Home</span>
            </a>

            {#  search #}
            <i class="material-icons pointer" id="add-to-queue">playlist_add</i>
        </div>
        {# Right side #}
        <div class="col s3 no-margin no-padding">
            <div class="flex-v-center queue-heading">
                <i class="material-icons small">playlist_play</i>
                <span class="queue-heading-text">Play Queue</span>
            </div>
        </div>
    </div>

    {# Middle row #}
    <div class="row flex no-margin" style="height: calc(100vh - 73px - 113px)">

        {# Cover and search #}
        <div class="col s9 no-margin no-padding min-height-hundred flex-v-center flex-center"
             style="position: relative;">

            {# Cover #}
            <div>
                <div class="middle">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <img class="cover-image"
                     src="/static/icons/default_playlist_cover.png"
                     alt>
                <div class="small-padding-top small-padding-bottom center cover-text small-padding-left small-padding-right">
                    <a class="underline no-wrap to-long inline-block" style="width: 100%" href="#" id="artist">No
                        Song</a>
                    <a class="underline no-wrap to-long inline-block small-padding-left small-padding-right"
                       style="width: 100%" href="#" id="song">playing</a>
                </div>

            </div>

            {# Search field #}
            <div class="search-div small-padding" style="overflow: hidden">

                <div style="height: 100px">
                    <h5 class="no-margin-bottom no-wrap to-long no-margin-top">Search for the songs</h5>

                    <div class="input-field small-padding-bottom no-margin-bottom">
                        <input placeholder="artist:** track:** album: ** year:**" id="song-name" type="text">
                    </div>
                </div>

                <div class="search-preview">
                    {# The song search #}
                </div>
            </div>

        </div>

        {# Right side (queue) #}
        <div class="col s3 min-height-hundred no-margin" id="queue">

            <div id="0AtP8EkGPn6SwxKDaUuXec" class="row flex-v-center">
                <div class="col s2 center flex-v-center no-padding-right">
                    <img alt="cover" src="https://i.scdn.co/image/ab67616d00001e02a53a148d92ce7afa20229e49">
                </div>

                <div class="col s10 to-long">
                    <div class="s12 to-long">
                        <a class=" pointer underline no-wrap" hover-on-touch=""
                           href="https://open.spotify.com/track/0AtP8EkGPn6SwxKDaUuXec"
                           target="_blank">Remember The Name (feat. Eminem &amp; 50 Cent)
                        </a>
                    </div>
                    <div class="s12 to-long flex">
                        <a class="pointer underline no-wrap to-long no-shrink"
                           hover-on-touch="" href="https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"
                           target="_blank">Ed Sheeran
                        </a>
                    </div>
                </div>
            </div>
            <div class="divider small-margin-bottom small-margin-top"></div>

        </div>

    </div>

    {# Bottom row #}
    <div class="row playback-group no-margin flex" style="height: 113px">
        {# Left side#}
        <div class="col s9 no-margin">
            {# Progress bar #}
            <div class="row flex-center">
                <span class="col" id="current-time">00:00</span>
                <div class="col s8 m9 l10 xl10">
                    <div class="progress">
                        <div class="determinate"></div>
                    </div>
                </div>
                <span class="col no-padding-right" id="total-time">00:00</span>
            </div>

            {# Left controls #}
            <div class="row flex-v-center">
                <div class="playback-controls">

                    <i class="material-icons pointer playback-control" id="shuffle">shuffle</i>

                    <i class="material-icons pointer playback-control" id="previous">skip_previous</i>

                    <a class="pointer btn-floating playback-control" id="play" style="display: none">
                        <i class="material-icons">play_arrow</i>
                    </a>
                    <a class="pointer btn-floating playback-control" id="pause"><i class="material-icons">pause</i></a>

                    <i class="material-icons pointer playback-control" id="next">skip_next</i>

                    <i class="material-icons pointer playback-control" id="repeat">repeat</i>
                    <i class="material-icons pointer playback-control" id="repeat-one"
                       style="display: none">repeat_one</i>

                </div>

                {# Right controls #}
                <div class="right-controls">

                    {# Device button #}
                    <i class="material-icons pointer" id="devices-button">devices_other</i>

                    {# Device menue #}
                    <div class="device-text">
                        <span style="background-color: var(--darker); display: inline-block">
                            <h6 class="no-wrap device-padding">Connect to a device</h6>
                            <div style="text-align: center; padding-left: 50px; padding-right: 50px">
                                <img src="/static/icons/devices.png" class="small-padding-top small-padding-bottom"
                                     style="width: 180px;" alt="">
                            </div>

                            <div id="devices">
                                <div class="device-padding small-margin-bottom">
                                    <p class="no-margin">Play and control the Spotify playback on all your devices.</p>
                                    <p class="no-margin">Start Spotify on another device, start playing.</p>
                                    <a class="btn btn-flat" href="https://www.spotify.com/de/connect/">Lean more</a>
                                </div>
                            </div>
                        </span>
                    </div>

                </div>
            </div>
        </div>
        {# Right queue info #}
        <div class="col s3 flex-v-center flex-center no-margin" style="min-height: 100%; background: var(--darker)">
            <p class="no-margin flex-break" style="font-size: 1.5rem; text-align: center;">Remaining time</p>
            <p class="no-margin">00:00:00</p>
        </div>
    </div>
{% endblock %}

{% block main %}{% endblock %}
{% block footer %}{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/static/js/libraries/color-thief.js"></script>
    <script type="text/javascript" src="/static/js/libraries/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/own/playback/main.js"></script>
    <script type="text/javascript" src="/static/js/own/playback/search.js"></script>
    <script type="text/javascript" src="/static/js/own/playback/devices.js"></script>
    <script type="text/javascript" src="/static/js/own/playback/playback.js"></script>
    <script type="text/javascript" src="/static/js/own/playlist/Song.js"></script>
{% endblock %}
