{% extends "base.html" %}

{# Cover zentrieren; Zeichen für die queue zentral über die cover & Leiste mit Schriftzug der Queue noch ein bisschen breiter ("vertikal breiter") #}

{% block css %}
    <link type="text/css" rel="stylesheet" href="/static/css/own/playback.css" media="screen,projection"/>
{% endblock %}

{% block javascript_variables %}
    <script type="text/javascript">
        let spotifyUserID = "{{ spotify_user_id }}";
    </script>
{% endblock %}

{% block nav %}
{% endblock %}

{% block no_box %}
    {# Background image#}
    <div class="background-blur-image"></div>

    {# Playback group #}
    <div class="playback-group">
        {# Progress bar#}
        <div class="row flex-center">
            <span class="col">0:00</span>
            <div class="col s8 m9 l10 xl11">
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
            </div>
            <span class="col no-padding-right">4:00</span>
        </div>

        {# The controls #}
        <div class="row flex-v-center">
            <div class="playback-controls">
                {#Actual controls#}
                <i class="material-icons pointer playback-control">shuffle</i>
                <i class="material-icons pointer playback-control">skip_previous</i>
                <a class="pointer btn-floating playback-control"><i class="material-icons">play_arrow</i></a>
                {#                            <i class="material-icons">pause</i>#}
                <i class="material-icons pointer playback-control">skip_next</i>
                <i class="material-icons pointer playback-control">repeat</i>
                {#                            <i class="material-icons">repeat_one</i>#}
            </div>
            <div class="settings">
                <i class="material-icons pointer small-padding-left">settings</i>

                <a class="pointer devices">
                    <i class="material-icons"> devices_other</i>
                    <span class="device-text">Hover over me</span>
                </a>
            </div>
        </div>
    </div>

    <a class="back pointer flex-v-center" href="/">
        <i class="material-icons">navigate_before</i>
        <span>Home</span>
    </a>

    {# The main content #}
    <div class="row main-contend">
        {# Cover image #}
        <div class="col s9 no-padding flex-center flex-v-center">
            <img class="cover-image"
                 src="https://images-na.ssl-images-amazon.com/images/I/81lWZ4lbk2L._SL1200_.jpg"
                 alt>
        </div>
        {# The snog queue #}
        <div class="col s3 no-padding">
            <div class="flex-v-center playlist-heading">
                <i class="material-icons small">playlist_play</i>
                <span class="playlist-heading-text">Play Queue</span>
            </div>
        </div>
        <div class="col s3 queue">
            <div id="playlist-songs" style="display: block;">
                <div id="0AtP8EkGPn6SwxKDaUuXec" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/ab67616d00001e02a53a148d92ce7afa20229e49"
                                                                                    src="https://i.scdn.co/image/ab67616d00001e02a53a148d92ce7afa20229e49">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/0AtP8EkGPn6SwxKDaUuXec"
                                                    target="_blank">Remember The Name (feat. Eminem &amp; 50 Cent)</a>
                        </div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V" target="_blank">Ed
                            Sheeran</a><a class="black-text small-padding-right artist-separator">,</a><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text small-padding-right artist-separator">,</a><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/3q7HBObVc0L8jNeTe5Gofh" target="_blank">50
                            Cent</a><a class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                       hover-on-touch="" href="https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"
                                       target="_blank">Ed Sheeran</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/3oIFxDIo2fwuk4lwCmFZCx" target="_blank">No.6
                            Collaborations Project</a></div>
                    </div>
                    <div class="col s2 m1"><p>03:27</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="0JtIWgsblOvJfpoyhGkFuS" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/e25624b8b99f78922eaf26efe741b554a09cc51b"
                                                                                    src="https://i.scdn.co/image/e25624b8b99f78922eaf26efe741b554a09cc51b">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/0JtIWgsblOvJfpoyhGkFuS"
                                                    target="_blank">Mockingbird</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/7tsXPtLqhab1zWeubbf6JH" target="_blank">Encore</a>
                        </div>
                    </div>
                    <div class="col s2 m1"><p>04:10</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="15JINEqzVMv3SvJTAXAKED" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c"
                                                                                    src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/15JINEqzVMv3SvJTAXAKED"
                                                    target="_blank">Love The Way You Lie</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text small-padding-right artist-separator">,</a><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/5pKCCKE2ajJHZ9KAiaK11H"
                                target="_blank">Rihanna</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/47BiFcV59TQi2s9SkBo2pb"
                                target="_blank">Recovery</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:23</p></div>
                </div>
                <div id="1cS0TgbR263ey9jn0MwD2s" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/fa34091d2a73e2e1339428afc7c0c9a4a4402d9f"
                                                                                    src="https://i.scdn.co/image/fa34091d2a73e2e1339428afc7c0c9a4a4402d9f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/1cS0TgbR263ey9jn0MwD2s"
                                                    target="_blank">River (feat. Ed Sheeran)</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text small-padding-right artist-separator">,</a><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V" target="_blank">Ed
                            Sheeran</a><a class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                          hover-on-touch=""
                                          href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/0U6ldwLBEMkwgfQRY4V6D2" target="_blank">Revival</a>
                        </div>
                    </div>
                    <div class="col s2 m1"><p>03:41</p></div>
                </div>
                <div id="7Ie9W94M7OjPoZVV216Xus" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c"
                                                                                    src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7Ie9W94M7OjPoZVV216Xus"
                                                    target="_blank">Not Afraid</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/47BiFcV59TQi2s9SkBo2pb"
                                target="_blank">Recovery</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:08</p></div>
                </div>
                <div id="15JINEqzVMv3SvJTAXAKED" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c"
                                                                                    src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/15JINEqzVMv3SvJTAXAKED"
                                                    target="_blank">Love The Way You Lie</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text small-padding-right artist-separator">,</a><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/5pKCCKE2ajJHZ9KAiaK11H"
                                target="_blank">Rihanna</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/47BiFcV59TQi2s9SkBo2pb"
                                target="_blank">Recovery</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:23</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="15JINEqzVMv3SvJTAXAKED" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c"
                                                                                    src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/15JINEqzVMv3SvJTAXAKED"
                                                    target="_blank">Love The Way You Lie</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text small-padding-right artist-separator">,</a><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/5pKCCKE2ajJHZ9KAiaK11H"
                                target="_blank">Rihanna</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/47BiFcV59TQi2s9SkBo2pb"
                                target="_blank">Recovery</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:23</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="15JINEqzVMv3SvJTAXAKED" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c"
                                                                                    src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/15JINEqzVMv3SvJTAXAKED"
                                                    target="_blank">Love The Way You Lie</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text small-padding-right artist-separator">,</a><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/5pKCCKE2ajJHZ9KAiaK11H"
                                target="_blank">Rihanna</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/47BiFcV59TQi2s9SkBo2pb"
                                target="_blank">Recovery</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:23</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="15JINEqzVMv3SvJTAXAKED" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c"
                                                                                    src="https://i.scdn.co/image/caa5fccf92fc878f79d4fd65cdf21e6610f2b13c">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/15JINEqzVMv3SvJTAXAKED"
                                                    target="_blank">Love The Way You Lie</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text small-padding-right artist-separator">,</a><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/5pKCCKE2ajJHZ9KAiaK11H"
                                target="_blank">Rihanna</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/47BiFcV59TQi2s9SkBo2pb"
                                target="_blank">Recovery</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:23</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
                <div id="7lQ8MOhq6IN2w8EYcFNSUk" class="row flex-v-center song rounded add-song-list" hover-on-touch="">
                    <div class="col s2 m1 center flex-v-center song-cover-div"><img alt="cover"
                                                                                    data-src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f"
                                                                                    src="https://i.scdn.co/image/46794380fc2259c3117ee3b1e209cb7dccf7ff2f">
                    </div>
                    <div class="col s8 m10 to-long">
                        <div class="s12 to-long"><a class=" pointer underline black-text no-wrap" hover-on-touch=""
                                                    href="https://open.spotify.com/track/7lQ8MOhq6IN2w8EYcFNSUk"
                                                    target="_blank">Without Me</a></div>
                        <div class="s12 to-long flex"><a
                                class="black-text pointer underline artist no-wrap to-long no-shrink" hover-on-touch=""
                                href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR" target="_blank">Eminem</a><a
                                class="black-text pointer underline album-artist no-wrap to-long no-shrink"
                                hover-on-touch="" href="https://open.spotify.com/artist/7dGJo4pcD2V6oG8kP0tJRR"
                                target="_blank">Eminem</a><a
                                class="black-text small-padding-right small-padding-left">•</a><a
                                class="black-text pointer underline no-wrap to-long" hover-on-touch=""
                                href="https://open.spotify.com/album/2cWBwpqMsDJC1ZUwz813lo" target="_blank">The Eminem
                            Show</a></div>
                    </div>
                    <div class="col s2 m1"><p>04:50</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}{% endblock %}
{% block footer %}{% endblock %}
