{% extends "base.html" %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="/static/css/own/select.css" media="screen,projection"/>

    <style>
        .z-depth-3 {
            box-shadow: none;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="center">
        <h3 style="text-align: left; padding-left: .75rem">Select a Playlist</h3>

        {# If the user has not playlists #}
        {% if playlist_list_json == {} %}
            <ul>
                <li class="divider"></li>
            </ul>
            <h6 class="margin-top">Your user currently has no playlist assigned to him</h6>
        {% endif %}

        <div class="row flex-center">


            {# For every playlist of the user #}
            {% for id, playlist in playlist_list_json.items() %}

                <div class="col xs12 s5 m4 l3 xl2 small-margin-bottom">
                    <div class="card">
                        <a href="{{ url_for("main.playlist", playlist_id=playlist["id"]) }}">
                            <div class="card-image pointer" hover-on-touch>
                                <img alt="cover image" src="{{ playlist["image_url"] }}">
                            </div>
                        </a>

                        <div class="card-content">
                            <a class="card-title black-text underline pointer"
                               href="{{ url_for("main.playlist", playlist_id=playlist["id"]) }}">{{ playlist["name"] }}</a>
                            <a class="pointer black-text underline"
                               href="{{ playlist["author"]["url"] }}">{{ playlist["author"]["name"] }}</a>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}
