{% extends "base.html" %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="/static/css/own/pulse.css"
          media="screen,projection"/>

    <style>
        td, th {
            padding: 7px 7px;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="center">
        <h3>Select a Playlist</h3>

        {% if playlist_list_json == {} %}

            <ul>
                <li class="divider"></li>
            </ul>

            <h6 class="margin-top">Your user currently has no playlist assigned to him</h6>

        {% endif %}

        {% for id, playlist in playlist_list_json.items() %}

            <!-- Playlist information -->
            <div class="row flex-v-center select-playlist">
                <div class="col s10">
                    <table>
                        <tbody>
                        <tr>
                            <td class="bold">Title</td>
                            <td class="bold">
                                <a class="pointer underline black-text"
                                   onclick="window.open('{{ playlist["url"] }}')">{{ playlist["name"] }}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Author</td>
                            <td>
                                <a class="pointer underline black-text"
                                   onclick="window.open('{{ playlist["author"]["url"] }}')">
                                    {{ playlist["author"]["name"] }}
                                </a></td>
                        </tr>
                        <tr>
                            <td>Song Count</td>
                            <td>{{ playlist.track_count }}</td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>{{ id }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col s2 center no-padding height-140">
                    <div class="rectangle image-pulse">
                        <div class="image background-image" onclick="location.href = '?playlist-id={{ id }}'"
                             style="background-image: url('{{ playlist["image_url"] }}'); cursor: pointer"></div>
                    </div>
                </div>
            </div>

            {% if playlist_list_json | first == id  and playlist_list_json | length > 1 %}

                <ul>
                    <li class="divider"></li>
                </ul>

            {% endif %}

        {% endfor %}


    </div>
{% endblock %}
