/*The github footer image*/
.footer-image {
    height: 1em;
    margin-right: 5px;
}

/*Make the table less high*/
td, th {
    padding: 7px 7px;
}

.to-long {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Hide the album artist until the screen gets ot small*/
.album-artist {
    display: none
}

/*Underline the links in the footer*/
.footer-links > li > a {
    text-decoration: underline solid transparent;
    transition: text-decoration .1s ease-in;
}

/*The logo in the mobile off canvas*/
.nav-logo {
    height: 26%;
    width: 100%;
    background: url(/static/icons/Spotify.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Css to measure the width of the scrollbar*/
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}

/*Add a icon behind a input*/
.postfix {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    top: .5rem;
    right: 0;
    cursor: pointer;
}

/*Class that has to be added to the input if a postfix should be added*/
.postfix-input {
    margin-right: 3rem !important;
    width: calc(100% - 3rem) !important;
}

/*Padding for each song cover in a playlist*/
.song-cover-div {
    padding-left: 5px !important;
    padding-right: 0 !important;
}

/*Force chrome to contain the image*/
.song-cover-div > img {
    max-width: 100%;
}

/*Remove outline from elements*/
*:active, *:focus {
    outline: none;
}

/*Add padding to the copyright*/
#copyright {
    padding: 0 .75rem;
}

/*Disable text transition*/
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    text-transform: none;
}

/*Change the size of the card title*/
.card-title {
    font-size: 20px;
}

/*Hide the number up and down buttons*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button;
    display: inline-block;
    cursor: default;
    flex: 0 0 auto;
    align-self: stretch;
    -webkit-user-select: none;
    opacity: 0;
    pointer-events: none;
    -webkit-user-modify: read-only;
}

/*Adjust the card padding*/
.card .card-content {
    padding: 13px;
}

/*Center all toast messages*/
#toast-container {
    position: fixed;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/*Make the toast message only use the width of the message*/
.toast {
    height: min-content;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent !important;
    margin-top: 0;
}

.actual-toast {
    text-align: center;
    pointer-events: auto;
    position: static;
    margin-bottom: 0;
    box-sizing: border-box;
    display: flex;
    max-width: 100%;
    min-width: 40%;
    max-height: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

/*Calculate the height of the main box where all the contend is in.*/
#main-box {
    min-height: calc(100vh - 56px - 2em);
}

/*Calculate the height of the main box where all the contend is in.*/
@media only screen and (min-width: 601px) {
    #main-box {
        min-height: calc(100vh - 64px - 2em);
    }
}

/*The image of the songs you want to add to the playlist*/
.song-image {
    max-width: 100px;
    max-height: 60px;

    cursor: pointer;
    height: auto;
    width: auto;
}

/*The spotify search preview*/
.search-song-image {
    max-width: 40px;
    max-height: 40px;

    cursor: pointer;
    height: auto;
    width: auto;
}

/*Add a shadow transition to every song in the playlist*/
.song {
    transition: box-shadow 0.2s ease-in-out;
}

/*Make a large floating button*/
i.very-large {
    font-size: 3rem;
}

/*Hide the border in the last table row*/
tr:last-child {
    border-bottom: none;
}

/*List is inside the div*/
li {
    list-style-position: inside;
}


/*Shadow for every playlist a use can select*/
.select-playlist {
    border-radius: 7px;
    transition: box-shadow 0.2s ease-in-out;
}


/*Background image for every playlist the user can select*/
.background-image {
    position: absolute;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*Border radius for every image*/
img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/*Show the autocomplete*/
.show-autocomplete {
    max-height: calc(0.5 * 80vh);
    display: block;
    width: calc(100% - 4.5rem);
    left: 3.76rem;
    top: 43px;
    transform-origin: 0 0 0;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}

/*Footer for the Add song modal*/
#add-song-footer {
    padding-right: 34px;
    position: sticky;
    bottom: 0;
}

/*Change the min height of the add song modal*/
#song-modal .modal-content {
    min-height: 62vh;
    padding-bottom: 0;
}

/*Change the max heights of modals*/
.modal {
    max-height: 80%;
}

/*Give a max height of 140 to every playlist cover in main page*/
.height-140, .height-140 * {
    max-height: 140px;
}

/*The list of songs you want to add*/
#add-song-list {
    overflow: auto;
    padding: 5px;
}

/*Center the main image of one playlist*/
.loading-card > .image {
    position: absolute;
    background: #e9ebee;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
