/*Change the width of the main container************************/
@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: 90%
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 80%
    }
}

@media screen and (max-width: 600px) {
    .hide-medium {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    .hide-large {
        display: none;
    }
}


/*Hide the artist if the screen gets too small */
@media screen and (max-width: 660px) {
    .artist, .artist-separator {
        display: none;
    }

    .album-artist {
        display: inline-block;
    }
}

.small-hide-chip {
}

@media screen and (max-width: 800px) {
    .small-hide-chip {
        display: none;
    }
}


.custom-close {
    display: none
}

.modal {
    transition: 0.15s all ease-out;
    -webkit-transition: 0.15s all ease-out;
}

@media screen and (max-width: 600px) {
    .modal {
        max-height: 100%;
        width: 100%;
        height: 100%;
        top: 0 !important;
        border-radius: 0;

        transition: 0.15s all ease-out;
        -webkit-transition: 0.15s all ease-out;
    }

    #add-song-footer {
        position: fixed !important;
    }

    #song-modal .modal-content {
        max-height: calc(100vh - 56px);
    }

    /*For the sticky search*/
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        right: 0 !important;
        left: 0 !important;
        background: #fafafa;
    }

    .sticky:before {
        content: "";
        background-color: #fafafa;
        height: 1rem;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    .sticky > .show-autocomplete {
        right: 0;
        width: auto;
    }

    .custom-close {
        position: fixed;
        display: block;
        top: 0;
        right: var(--scrollbar-width);
        z-index: 10;
    }
}
