/*Extra small containers*/
.xs1 {
}

.xs3 {
}

.xs8 {
}

@media only screen and (max-width: 415px) {
    .xs1 {
        width: calc(100% / 12) !important;
    }

    .xs3 {
        width: calc(100% / 12) !important;
    }

    .xs8 {
        width: calc(100% / 12 * 8) !important;
    }
}

/*Change the width of the main container************************/
@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 601px) {
    .container {
        width: 90%
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 80%
    }
}

@media screen and (max-width: 600px) {
    .hide-medium {
        display: none;
    }
}

@media screen and (min-width: 601px) {
    .hide-large {
        display: none;
    }
}

