{% extends "base.html" %}

{% block main %}

    <div class="center">
        <h3>{{ user.username }}</h3>
    </div>

    <table class="striped highlight">
        <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Tracks</th>
            <th>Author</th>
            <th style="width: 1px"></th>
        </tr>
        </thead>
        {% if playlist_list != [] %}
            <tbody>
            {% for playlist in playlist_list %}
                <tr>
                    <td>{{ playlist.name }}</td>
                    <td>{{ playlist.id }}</td>
                    <td>{{ playlist.tracks.total }}</td>
                    <td>{{ playlist.owner.display_name }}</td>
                    <td><i class="material-icons pointer primary-text-color">delete</i></td>
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <tr>
                <td class="center-align" colspan="100%">
                    This user has no playlists
                </td>
            </tr>
        {% endif %}
    </table>

    <ul>
        <li class="divider"></li>
    </ul>


    <h5 class="margin-bottom">Add Playlists to User</h5>

    <div class="input-field col s12">
        <select aria-label="playlist-select" multiple id="playlist-select">
            <option value="" disabled selected>Select a Playlist</option>
            {% for playlist in all_playlists_list %}
                <option value="{{ playlist.id }}">{{ playlist.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="right-align">
        <a class="waves-effect waves-green btn-flat" id="add-playlist">Add</a>
    </div>



{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="/static/js/own/edit_user/main.js"></script>
    <script>
        M.AutoInit()
    </script>

{% endblock %}