{% extends "base.html" %}

{% block main %}

    <div class="center">
        <h3>{{ user.username }}</h3>
    </div>

    <table class="striped highlight">
        <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Tracks</th>
            <th>Author</th>
            <th style="width: 1px"></th>
        </tr>
        </thead>
        <tbody>
        {% for playlist in playlist_list %}
            <tr>
                <td>{{ playlist.name }}</td>
                <td>{{ playlist.id }}</td>
                <td>{{ playlist.tracks.total }}</td>
                <td>{{ playlist.owner.display_name }}</td>
                <td><i class="material-icons pointer primary-text-color">delete</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li class="divider"></li>
    </ul>


    <h5 class="margin-bottom">Add Playlists to User</h5>

    <div class="input-field col s12">
        <select multiple>
            <option value="" disabled selected>Select a Playlist</option>
            {% for playlist in all_playlists_list %}
                <option value="{{ playlist.id }}">{{ playlist.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="right-align">
        <a class="waves-effect waves-green btn-flat">Add</a>
    </div>



{% endblock %}


{% block javascript %}
    <script type="text/javascript" src="/static/js/own/edit_user/main.js"></script>
    <script>
        M.AutoInit()
    </script>

{% endblock %}