{% extends "base.html" %}

{% block main %}

    <div class="center">
        <h3>{{ user.username }}</h3>
    </div>

    <table class="striped highlight">
        <thead>
        <tr>
            <th>Name</th>
            <th>ID</th>
            <th>Tracks</th>
            <th>Author</th>
            <th style="width: 1px"></th>
        </tr>
        </thead>
        <tbody>
        {% for playlist in playlist_list %}
            <tr>
                <td>{{ playlist.name }}</td>
                <td>{{ playlist.id }}</td>
                <td>{{ playlist.tracks.total }}</td>
                <td>{{ playlist.owner.display_name }}</td>
                <td><i class="material-icons pointer">delete</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn-flat">Add Playlist to User</button>




{% endblock %}