<div style="height: 100%;" id="queue">
  <div *ngFor="let song of queueSongs; let i = index">
    <div class="flex-v-center queue-song {{song.queueStatus}} small-padding-top small-padding-bottom"
         id="{{song.id}}">
      <div class="col s4 l3 xl2 center flex-v-center no-padding-right small-padding-left">
        <img alt="cover" src="{{song.cover}}">
      </div>
      <div class="col s8 l9 xl10 to-long">
        <div class="s12 to-long">
          <a class="pointer underline no-wrap"
             href="{{song.title.url}}">
            {{song.title.name}}
          </a>
        </div>
        <div class="s12 to-long">
          <a class="pointer underline no-wrap"
             href="{{song.artist.url}}">{{song.artist.name}}</a></div>
      </div>
    </div>
    <div *ngIf="queueSongs.length !== (i + 1)" class="divider"></div>
  </div>

</div>
