<div style="margin: auto;">
  <!-- Spinner -->
  <div *ngIf="loading" class="middle">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <!--Cover-->
  <img class="cover-image"
       src="{{playlistCover}}" (load)="calculatePrimaryBackground($event)"
       alt>
  <div class="small-padding-top small-padding-bottom center cover-text small-padding-left small-padding-right">
    <span style="width: 100%" class=" inline-block">
        <a class="underline no-wrap to-long inline-block" href="{{artistURL}}" target="_blank"
           id="artist" style="max-width: 100%;">{{artist}}</a>
    </span>
    <span style="width: 100%" class=" inline-block">
        <a class="underline no-wrap to-long inline-block small-padding-left small-padding-right"
           target="_blank" href="{{trackURL}}" style="max-width: 100%;" id="song">{{track}}
        </a>
    </span>
  </div>

</div>

<!--Search-->
<app-search #search *ngIf="desktop" class="search-div"></app-search>

