{% extends "base.html" %}

{% block main %}

    <div class="section" id="index-banner">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h1 class="red-text text-lighten-1 center">404</h1>
                    <h4 class="light red-text text-lighten-3 center">Page not found.</h4>
                    <h4 class="light red-text text-lighten-2 center">Go
                        <a class="light red-text text-lighten-2 center" href="/"
                           style="text-decoration: underline">HOME</a>
                        .</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}